/*My own CSS*/

html {
	background: url(../img/chicago.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Jumbotron*/
.jumbotron {
	background-color: #000;
}

.jumbotron h1 {
	color: white;
	text-align: left;
}

.jumbotron p {
	color: white;
	text-align: left;
	font-size: 16px;
}

.dropdown-menu {
	background-color: white;
}

.dropdown-menu li {
	display: inline-block;

}

.dropdown-menu li a {
	text-align: center;
}

#hamburger {
	margin-top: 35px;
	height: 50px;
	width: 75px;
}