/*My own CSS*/

/*Fixate fullscreen background image for most browsers*/
html {
	background: url(../img/chicago.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*-------------------*/

/*Hide scrollbar in Chrome*/
::-webkit-scrollbar {
	display: none;
}
/*-------------------*/

/*Jumbotron*/
.jumbotron {
	background-color: #000;
}

.jumbotron h1 {
	color: #fff;
	text-align: left;
}

.jumbotron p {
	color: #fff;
	text-align: left;
	font-size: 16px;
}
/*-------------------*/

/*Hamburger dropdown*/
.dropdown-menu {
	background-color: #ff0000;
	margin-right: 115px;
}

.dropdown-menu li {
	display: inline-block;
}

.dropdown-menu li a {
	text-align: center;
	font-size: 14px;
	color: #fff;
}

.dropdown-menu li a:hover {
	background-color: #ce1818;
	color: #fff;
}

#hamburger {
	margin-top: 35px;
	margin-left: 400px;
	height: 50px;
	width: 75px;
}
/*-------------------*/

/*Transparent box where the main content goes*/
.transbox {
	position: absolute;
	width: 75%;
	background-color: rgba(97, 99, 102, 0.5);
	margin-top: 50px;
	margin-left: 250px;
}

.transbox h2 {
	color: #fff;
}

.transbox p {
	color: #fff;
}
/*-------------------*/

section	{
	margin-top: 70px;
}

/*Thumbnail class styling added onto bootstraps existing one*/
.thumbnail {
	display: inline-block;
	margin-right: 40px;
	margin-top: 20px;
	height: 150px;
	width: 150px;
}

.thumbnail-hover {
	background-color: #ff0000;
	border: none;
}

.thumbnail-highlight {
	height: 500px;
	width: 500px;
}

.thumbnail-mini {
	height: 30px;
	width: 30px;
}
/*-------------------*/

.contact-form {
	width: 60%;
}

.white {
	color: #fff;
}

.center {
	text-align: center;
	color: #000;
}

/*Form error and success messages*/
.firstname-error ,
.lastname-error ,
.email-error {
	background-color: #ef0707;
	width: 28%;
}

.submit-success {
	color: #63e534;
}
/*-------------------*/

/*Footer*/
.footer {
	height: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #000;
	text-align: center;
}
/*-------------------*/

@media only screen and (max-width: 500px) {
	.jumbotron h1 {
		text-align: center;
	}

	.jumbotron p {
		text-align: center;
	}

	.dropdown-menu {
		margin-right: 0px;
	}

	#hamburger {
		margin-top: -15px;
		margin-left: 100px;
	}

	.transbox {
		margin-left: 30px;
	}

	.thumbnail {
		display: inline-block;
		height: 40px;
		width: 40px;
	}
}